.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(13, 12, 58);
 
}
.left-content{
    margin-top: 50px;
   align-items: center;
   color: wheat;
}
.left-content h1{
    font-size: 70px;
    font-weight: 800;
    
}
button{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(192, 150, 12, 0.932);
    border: none;
    border-radius: 15px;
    color: white;
}

.image img{
    height: 600px;
    width: 700px;

}